<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
   integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<body>
    <img src="/assets/gobierno.png" width="400" height="100" HSPACE="20" VSPACE="20">
    <img src="/assets/sep.png" width="400" height="100" HSPACE="20" VSPACE="20">
    <img src="/assets/tecnm.png" width="400" height="100" HSPACE="20" VSPACE="20">
   <div class="container">
      <div class="row">
         <div class="col-md-5 mx-auto">
            <div id="first">
               <div class="myform form ">
                  <div class="logo mb-3">
                     <div class="col-md-12 text-center">
                        <h1>ACCESO A CV</h1>
                     </div>
                  </div>
                  <form action="" method="post" name="login">
                     <div class="form-group">
                        <label for="exampleInputEmail1">Direccion de correo electronico:</label>
                        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                           placeholder="nombre@ejemplo.com">
                     </div>
                     <div class="form-group">
                        <label for="exampleInputEmail1">Contraseña:</label>
                        <input type="password" name="password" id="password" class="form-control"
                           aria-describedby="emailHelp" placeholder="Introducir una contraseña de acceso">
                     </div>

                     <div class="col-md-4 text-center ">
                        <button type="submit" class=" btn btn-block mybtn btn-success tx-tfm" [routerLink]="['/paginaprincipal/menu']"
                           routerLinkActive="router-link-active">ACCEDER</button>
                     </div>
                     <div class="form-group">
                        <p class="text-left"><a [routerLink]="['/ingresar/nuevousuario']" routerLinkActive="router-link-active"
                              id="signin" >Crear cuenta</a></p>
                     </div>
                     <div class="form-group">
                        <p class="text-left"><a  routerLinkActive="router-link-active"
                              id="signin">Olvide mi contraseña</a></p>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>

</body>